#editor-container {
	position: relative;
	width: 1024px;	
}

#editor-grid-container {
	position: absolute;
	width: 900px;
	left: 200px
}

.editor-tile {
	width: 40px;
	height: 40px;
	background-color: #0f0f0f;
	border: solid 1px #f3f3f3;
	position: absolute;
}

.editor-tile.valid {
	background-color: #3f3f3f;
}

.editor-output-row {
	width: 100%;
}

.editor-tile-undefined {
	background-color: #000000;
}

.editor-tile-flat {
	background-color: #aaaaaa;
}

.editor-tile-start {
	background-color: #ff0000;
}

.editor-tile-goal {
	background-color: #00ff00;
}

.editor-tile-raised {
	background-color: #555555;
}

#editor-gen-grid-btn-container {
	position: absolute;
	width: 100%;
}

#editor-clear-grid-btn-container {
	position: absolute;
	width: 100%;
	margin-top: 20px;
}

#editor-grid-printout-container, #editor-gameobject-grid-printout-container {
	position: absolute;
	width: 150px;
	top: 740px;
	padding-bottom: 50px;
}

#editor-grid-printout-container  {
	left: 300px;
}

#editor-gameobject-grid-printout-container {
	left: 575px;
}

#alert {
	border: solid 2px #0f0f0f;
	width: 200px;
	height: 60px;
	position: absolute;
	top: 5px;
	top: 20px;
	z-index: 10;
	background-color: #f3f3f3;
	color: #0f0f0f;s
	text-align: center;
	padding-top: 10px;
}

/*#editor-bit-bot-fixed-container{
	position: absolute;
	top: 100px;
}

#editor-bit-bot-fixed-container img{
	height: 28px;
}

.editor-bit-bot-container {
	z-index: 2;
}

#editor-bit-bot-fixed-container {
	z-index: 1;
}*/

/* SQUARE PATTERN ENEMY BOT */
#editor-enemy-bot-fixed-container { 
	position: absolute;
	top: 150px;
	background-color: #f30000;
	z-index: 1;
}

.editor-enemy-bot-container {
	z-index: 2;
	background-color: #f33333
}

/*#editor-enemy-bot-fixed-container {
	z-index: 1;
}*/

/* PING-PONG PATTERN ENEMY BOT */
#editor-enemy-bot-ping-pong-fixed-container {
	position: absolute;
	top: 150px;
	left: 40px;
	background-color: #33f333;
	z-index: 1;
}

.editor-enemy-bot-ping-pong-container {
	z-index: 2;
	background-color: #33f333;
}

/* L-PATTERN ENEMY BOT */
#editor-enemy-bot-ell-pattern-fixed-container {
	position: absolute;
	top: 150px;
	left: 80px;
	background-color: #3333f3;
	z-index: 1;
}

.editor-enemy-bot-ell-pattern-container {
	z-index: 2;
	background-color: #3333f3;
}


/* KONAMI CODE PATTERN ENEMY BOT */
#editor-enemy-bot-konami-fixed-container {
	position: absolute;
	top: 150px;
	left: 120px;
	background-color: #f333f3;
	z-index: 1;
}

.editor-enemy-bot-konami-container {
	z-index: 2;
	background-color: #f333f3;
}


/* BATTERY */
#editor-battery-fixed-container {
	position: absolute;
	top: 250px;
}

.editor-battery-container {
	z-index: 2;
}

#editor-battery-fixed-container {
	z-index: 1;
}

.editor-tile-drop-hover {
	background-color: #00f300;
}
