@import 'compass';
@import 'compass/css3';

%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
%is-nav {
  @extend %clearfix;
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    float: left;
  }
}

@font-face {
  font-family: 'dosissemibold';
  src: url('../fonts/dosis-semibold-webfont.eot');
  src: url('../fonts/dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dosis-semibold-webfont.woff') format('woff'),
       url('../fonts/dosis-semibold-webfont.ttf') format('truetype'),
       url('../fonts/dosis-semibold-webfont.svg#dosissemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  @include background(image-url("main-background.jpg") 10% 70% repeat);
  font-family: dosissemibold, sans-serif;
}

.stage {
  header {
    @include background(image-url("main-header.png") 0 0 no-repeat);
    width: image-width("main-header.png");
    height: image-height("main-header.png");
    margin: 20px auto;
  }
  > .inner {
    position: relative;
    width: 1226px;
    margin: 0 auto;
  }
  .intro-container {
    background: transparent url("/public/img/intro-screen-01.jpg") center center no-repeat;
    width: 1024px;
    height: 640px;
    position: absolute;
    top: 0;
    left: 101px;
    z-index: 100;
  }
  .game-over-container {
    display: none;
    cursor: pointer;
    background: transparent url("/public/img/game-over-screen.jpg") center center no-repeat;
    width: 1024px;
    height: 640px;
    position: absolute;
    top: 0;
    left: 101px;
    z-index: 100;
    &.is-active {
      display: block;
    }
  }
  .credits-container {
    display: none;
    background: transparent url("/public/img/credits-screen.jpg") center center no-repeat;
    width: 1024px;
    height: 640px;
    position: absolute;
    top: 0;
    left: 101px;
    z-index: 100;
    &.is-active {
      display: block;
    }
    .btn {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: image-width("twitter-btn.png");
      height: image-height("twitter-btn.png");
      &.dan {
        top: 218px;
      }
      &.magnus {
        top: 366px;
      }
      &.roger {
        top: 291px;
      }
      &.noah {
        top: 437px;
      }
    }
    .twitter {
      @include background(image-url("twitter-btn.png") 0 0 no-repeat);
      right: 340px;
    }
    .linkedin {
      @include background(image-url("linkedin-btn.png") 0 0 no-repeat);
      right: 305px;
    }
    .github {
      @include background(image-url("github-btn.png") 0 0 no-repeat);
      right: 305px;
    }
  }
  .next-intro-btn {
    cursor: pointer;
    position: absolute;
    top: 340px;
    left: 670px - 90;
    z-index: 200;
    @include background(image-url("next_button.png") 0 0 no-repeat);
    width: image-width("next_button.png");
    height: image-height("next_button.png");
    &:hover {
      @include background(image-url("next_button_hover.png") 0 0 no-repeat);
    }
    &.play-now {
      @include background(image-url("play_btn.png") 0 0 no-repeat);
      width: image-width("play_btn.png");
      height: image-height("play_btn.png");
      top: 310px;
      left: 690px;
      &:hover {
        @include background(image-url("play_btn_hover.png") 0 0 no-repeat);
      }
    }
  }
  .bricks {
    z-index: 5;
    position: absolute;
    top: 0;
    padding: 20px 0px;
    @include background(image-url("brick-border-background.jpg") 0 0 repeat-y);
    width: 75px;
    height: 640px;
    border-color: #797052;
    &.left {
      left: 102px;
      border-right-width: 2px;
      border-right-style: solid;
      @include box-shadow(-5px 0 10px #3e3e3e);
    }
    &.right {
      right: 102px;
      border-left-width: 2px;
      border-left-style: solid;
      @include box-shadow(5px 0 10px #3e3e3e);
    }
  }
  .banner {
    $totalHeight: (image-height("banner-background.jpg") + image-height("banner-corner.png") - 19);
    z-index: 10;
    position: relative;
    @include background(image-url("banner-background.jpg") 0 0 no-repeat,
                        image-url("banner-corner.png") left bottom no-repeat,
                        image-url("banner-corner.png") right bottom no-repeat);
    width: image-width("banner-background.jpg");
    height: $totalHeight;
    .btn {
      position: absolute;
      top: 20px;
      cursor: pointer;
      &:hover {
        top: 21px;
      }
      &.info {
        left: 60px;
      }
      &.credits {
        right: 60px;
      }
    }
    .controls {
      @extend %is-nav;
      width: 375px;
      margin: 0 auto;
      > li {
        padding-top: 20px;
        margin-left: 10px;
        &:first-child {
          margin-left: 0;
        }
        img {
          @include box-shadow(0px 5px 10px rgba(0,0,0,.25));
        }
        .description {
          display: block;
          text-align: center;
          font-size: 12px;
          text-transform: uppercase;
          color: #fff;
          @include text-shadow(0 2px 5px #454545);
        }
      }
    }
  }
}

#gamescape {
  display: block;
  background-color: #fafafa;
  margin: 0 auto;
  @include background(image-url('level-asset-background-01.png'));

  &.level2 {
      @include background(image-url('level-asset-background-02.png'));
  }

  &.level3 {
      @include background(image-url('level-asset-background-03.png'));
  }
}

.health-container {
  width: 59px;
  height: 373px;
  margin: 0px 0px 0px 10px;
  padding: 20px 0px 0px 14px;
  display: block;
  @include background(image-url('health-bar-bg.png'));
  background-repeat: no-repeat;
}

#health-bar {
  @include background(image-url('health-bar.png'));
  width: 28px;
  height: 286px;
  overflow: hidden;
  margin-bottom: 20px;
  background-repeat: no-repeat;
}

.heart {
  @include background(image-url('health-bar-heart.png'));
  width: 22px;
  height: 20px;
  background-repeat: no-repeat;
  margin-left: 3px;
}